/* KLOOFF Custom css */
body{
  font-family: 'Roboto', sans-serif;
  font-size: 12px
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*Header*/
.chat-bar {
    position: fixed;
    top: 0px;
    right: 370px;
}

.back {
    position: absolute;
    width: 90px;
    height: 50px;
    top: 0px;
    left: 0px;
    color: #fff;
    line-height: 50px;
    font-size: 30px;
    padding-left: 10px;
    cursor: pointer;
}
.back img {
    position: absolute;
    top: 5px;
    left: 30px;
    margin-left: 15px;
    }
.back:active {
    background: rgba(255,255,255,0.2);
}
.name{
    position: absolute;
    top: 3px;
    left: 92px;
    font-size: 17px;
    font-weight: 600;
    color: #f76102;
    cursor: default;
    line-height: 40px
}
/*logo*/
.navbar-inverse{
	background: #fff;
	border-bottom: 1px solid #dadada;
}
.navbar-brand{
	padding: 4px 15px;
}
button.upload_ph.btn.btn-primary.input-lg {
    border-radius: 0px;
    background: #fa5f05;
    height: 35px;
    margin: 10px;
    border: none;
}
/**Search**/
.search_nav{
    position: absolute;
    right: 25%;
}
#wrap {
  display: inline-block;
  position: relative;
  float: right;
  padding: 0;
  right: 0px;
}
.newClass{
  margin-left: 300px;
}
.search {
  float: right;
}
#wrap input[type="text"] {
  height: 40px;
  font-size: 14px;
  display: inline-block;
  font-weight: 100;
  outline: none;
  color: #555;
  padding: 3px;
  width: 0px;
  border: none;
  padding-right: 0px;
  background: none;
  cursor: pointer;
  cursor: text;
}


#wrap input[type="button"] {
  height: 40px;
  width: 40px;
  display: inline-block;
  color: #00094a;
  float: right;
  border: none;
  cursor: pointer;
  background: none;
  font-size: 18px;
  font-family: FontAwesome;
}
#wrap input[type="submit"]:hover {
  opacity: 0.8;
}
.txtBox-active {
    border-bottom: 1px solid #bbb !important;
    width: 168px !important;
    padding-right: 10px !important;
}
/*msg-num*/
.talk-bubble{
	float: right;
}
.talk-bubble .count {
    font-size: 18px;
    line-height: 20px;
}

.talk-bubble {
	display: inline-block;
	position: relative;
    padding: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
	background-color: #ac2b01;
	color: #fff;
}

.round{
  border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;

}
.tri-right.border.btm-right-in:before {
	content: ' ';
    position: absolute;
    width: 0;
    height: 0;
    left: auto;
    right: -9px;
    bottom: 9px;
    border: 8px solid;
    border-color: transparent transparent #ac2b01 #ac2b01;
}
@media(min-width:767px) and (max-width:768px){
	.navbar-inverse{
		background: #fb6004;
		border: none;
	}
	.hidden-md{
		display: none;
	}
	.visible-md{
		display: inline;
	}
	.chat-bar {
		position: fixed;
		top: 4px;
		right: 18%;
	}
	.search_nav {
		position: absolute;
		right: 13%;
	}
	.talk-bubble {
		display: inline-block;
		position: relative;
		padding: 7px;
		width: 33px;
		height: 33px;
		text-align: center;
		background-color: #fff;
		color: #ac2b01;
	}
	.tri-right.border.btm-right-in:before {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: auto;
		right: -9px;
		bottom: 9px;
		border: 8px solid;
		border-color: transparent transparent #fff #fff;
	}
	button.upload_ph.btn.btn-primary.input-lg {
		border-radius: 0px;
		background: none;
		height: 35px;
		margin: 0px;
		border: none;
		font-size: 22px;
	}
	.back{
	 top: -4px;
	 border-right: 1px solid #000;
	}
	#wrap input[type="button"]{
		color: #fff;
	}
	#wrap {
		top: -5px;
	}
}
@media(min-width:320px) and (max-width:767px){
	.visible-sm{
		display: inline !important;
	}

	.navbar-inverse{
		background: #fb6004;
		border: none;
	}
	.mobile-logo img{
		width:140px;
		height: auto;

	}
	.navbar-toggle{
		float: left !important;
		margin-left:-7px;
	}
	.nav {
		float: right;
	}
	.search_nav {
		position: absolute;
		right: 19%;
		border: none;
	}
	.mobile-logo{
		padding: 10px 0px;
	}
	.search_nav.navbar-form{
		margin-top: 2px;
		margin-right: -14px;
		border-right: 1px solid #000;
		margin-bottom: 0px;
		padding-bottom: 4px;

	}
	.talk-bubble {
		display: inline-block;
		position: relative;
		padding: 7px;
		width: 33px;
		height: 33px;
		text-align: center;
		background-color: #fff;
		color: #ac2b01;
	}
	.tri-right.border.btm-right-in:before {
		content: ' ';
		position: absolute;
		width: 0;
		height: 0;
		left: auto;
		right: -9px;
		bottom: 9px;
		border: 8px solid;
		border-color: transparent transparent #fff #fff;
	}
	button.upload_ph.btn.btn-primary.input-lg {
		border-radius: 0px;
		background: none;
		height: 35px;
		margin: 0px;
		border: none;
		font-size: 22px;
	}
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav.navbar+div{
  margin-top: 52px;
}
h3.column-heading{
  color: #555;
  background: #f0f0f0;
  padding: 10px;
  font-size: 1.333em;
  font-weight: bold;
  text-transform: uppercase;
}
ul.blog-feed-tabs{
  display: table;
  margin: 18px auto 20px;
  padding: 0;
  max-width: 410px;
}
ul.blog-feed-tabs li{
  list-style: none;
  float: left;
}
ul.blog-feed-tabs li a{
  position: relative;
  text-decoration: none;
  padding: 8px 20px;
  color: #555;
  font-size: 1.167em;
  font-weight: bold;
}
ul.blog-feed-tabs li a.active{
  background: #21d998;
  color: #fff;
}
ul.blog-feed-tabs li a.active:after{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 8px 8px 0;
  border-color: #21d998 transparent;
  display: block;
  width: 0;
  z-index: 1;
  bottom: -8px;
  left: 0px;
  right: 0px;
  margin: 0 auto;
}
.blog-post{
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}
.blog-post .blog-image{
  width: 100%;
  height: auto;
  margin: 5px 0;
}
.blog-featured img.featured-image{
  width: 100%;
  margin-bottom: 10px;
}
.blog-msg-con{
  position: relative;
}
.blog-msg-text-con{
  width: calc(100% - 75px);
  display: inline-block;
  float: right;
  position: relative;
}
.blog-msg-text-con .blog-user-name{
  font-size: 1.167em;
  font-weight: bold;
  color:#555;
}
.blog-msg-text-con .blog-user-name span{
  color: #999;
  padding-left: 8px;
  padding-right: 2px;
}
.blog-msg-text-con .blog-user-name span:before{
  content: "\2022";
  padding-right: 5px;
}
.blog-msg-text-con .blog-user-location{
  font-size: 1.167em;
  color: #fa5f05;
}
.blog-msg-text-con .blog-user-location:before{
  font-family: 'FontAwesome';
  content: "\f041";
  padding-right: 5px;
}
.blog-msg-text-con .posted-time{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1.167em;
  color: #777;
}
.blog-msg-text-con .posted-time:before{
  font-family: 'FontAwesome';
  content: "\f017";
  padding-right: 5px;
  font-size: 1.167em;
  color: #777;
}
.blog-msg-con .blog-user-text{
  position: absolute;
  top: -20px;
  font-size: 1.167em;
  color: #555;
  max-height: 42px;
  overflow: hidden;
  padding-right: 35px;
}
.blog-msg-con .more-option{
  position: absolute;
  top: -25px;
  right: 0;
  font-size: 1.167em;
  color: #777;
  cursor: pointer;
}
.blog-social{
  margin-top: 40px;
}
.blog-social ul{
  list-style: none;
  display: table;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 0px;
  float: left;
  margin-right: 10px;
}
.blog-social ul:last-child{
  float: right;
  margin-right: 0px;
}
.blog-social ul li{
  display: table-cell;
  width: 70px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
}
.blog-social ul li i.fa-heart{
  color: #fa5f05;
}
.blog-social ul li i.fa{
  font-size: 2em;
}
.blog-social ul li:last-child{
  border-left: 1px solid #ccc;
  color: #777;
}
.blog-top-list ul.blog-feed-tabs{
  max-width: 295px;
}
.blog-top-list ul.blog-feed-tabs li a{
  padding: 6px 8px;
}
.top-category .img-box{
  display: inline-block;
}
.candidate-details {
    float: right;
    width: calc(100% - 110px);
}
.cand-name {
    font-size: 1.6em;
    font-weight: 700;
}
.cand-address {
    font-size: 1.167em;
    color: #777;
}
.cand-detail {
    font-size: 1.167em;
}
.cand-detail span {
    color: #777;
}
.candidate-details .cand-social ul{
  padding: 0;
  list-style: none;
  display: inline-block;
  border: 1px solid #ccc;
  margin: 10px 0 0;
}
.candidate-details .cand-social ul li{
  display: inline-block;
  font-size: 1em;
  padding: 5px 10px;
  cursor: pointer;
}
.candidate-details .cand-social ul.likes li:last-child{
  cursor: default;
  border-left: 1px solid #ccc;
}
.candidate-details .cand-social ul li i.fa-heart{
  color: #fa5f05;
  font-size: 1.167em;
}
.blog-top-list .top-category{
  margin-bottom: 10px;
}
.column-heading.leaderboard{
  margin-top: 40px;
}
.leaderboard + .nav-tabs li{
  width: 50%;
  text-align: center;
}
.leaderboard + .nav-tabs li a{
  font-size: 1.167em;
  font-weight: bold;
  color: #555;
  border: 1px solid #ccc;
}
.leaderboard + .nav-tabs li.active a{
  border-bottom-color: transparent;
}
.leaderboard + .nav-tabs li a:hover{
  background-color: #fff;
}
.tab-content.leader-tab{
  border:1px solid #ccc;
  border-top: 0px;
  padding: 10px 15px;
}
.leader-tab .leaderContent{
  padding: 15px 0px;
  border-bottom: 1px solid #ccc;
}
.leader-tab .leaderContent:last-child{
  border-bottom: 0px;
}
.leaderContent .img-box{
  display: inline-block;
}
.leaderContent .img-box .lead-index{
  font-size: 1.167em;
  font-weight: bold;
  margin-right: 5px;
}
.leaderContent .leader-details{
  float: right;
  width: calc(100% - 110px);
  font-size: 1.167em;
  font-weight: 700;
}
.leaderContent .leader-details .leader-detail span{
  font-weight: normal;
  color: #777;
}
.leaderContent .leader-details .leader-rating{
  font-weight: normal;
}
.blog-con-hidden{
  display: none;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .blog-social ul li{
    width: 60px;
    height: 40px;
    text-align: center;
  }
  ul.blog-feed-tabs li a{
    padding: 8px 16px;
  }
  .chat-bar{
    right: 270px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  h3.column-heading{
    display: none;
  }
  .blog-post{
    width: 33%;
  }
  .blog-post .blog-msg-con, .blog-post .blog-social{
    display: none;
  }
  .blog-con-hidden{
    display: block;
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
  }
  .blog-con-hidden span.blog-user{
    line-height: 50px;
    padding: 0 15px;
  }
  .blog-con-hidden ul{
    list-style: none;
    padding: 7px 14px;
    float: right;
  }
  .blog-con-hidden ul li{
    text-align: center;
  }
  .blog-con-hidden ul li .fa-heart{
    color: #fa5f05;
  }
  .blog-featured, .blog-top-list{
    display: none;
  }
  ul.blog-feed-tabs{
    float: left;
    width: 100%;
    margin: 0 0 20px;
    padding: 14px;
    max-width: 100%;
    background: #ccc;
  }
  ul.blog-feed-tabs li a{
    padding: 15px 25px;
  }
}
